*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none ;
    margin-top: 10px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

@media screen and (max-width: 600px) {
    ul li a {
      float: none;
      width: 100%;
    }
  }

 ul li a:hover{
     background-color: #fff ;
     color: #000;
 }

ul li.active a{
    background-color: #fff;
    color: #000;
}


 .logo img{
     float: left;
     width: 150px;
     height: 70px;
     margin-top: 10px;
 }

 .home{
     max-width: 1200px;
     margin: auto;
 }

 .title{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-transform: uppercase;
 }

 .title h1{
     font-size: 80px;
     color: white;
     text-align: center;
 }

 .middle{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.destination-images {
    background-color: whitesmoke;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h2{
    font-size: 50px;
    color:black;
    text-align: center;
    padding: 5px;
}

.images{
    max-width: 1200px;
    margin: auto; 
    width: 60%;
    padding: 10px;
    
}

.img-box{
    height:200px;
    width:100% ;
    margin: 8px;
    padding: 5px;
    border: 1px solid #ccc;
}

.img-box:hover{
    border: 2px solid #777;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  #about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  color:white;
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
}


#about:after,  #about:before {
  content: '';
  width: 150px;
  height: 2px;
  margin: 0 10px;
  padding: 10px;
} 

.button{
    position: absolute;
     top: 90%;
     left: 50%;
     transform: translate(-50%, -50%);
}

#joinus-button{
    position: absolute;
     top: 80%;
     left: 70%;
     transform: translate(-50%, -50%);
}

.btn{
      border:1px solid white;
      padding: 10px 30px;
      color: white;
      text-decoration: none;
      transition:  0.6s ease;
}

.btn:hover{
    background-color: #fff ;
     color: #000;
 }

 .video {
        position: relative;
         top: 80%;
         left: 20%;
         transform: translate(-50%, -50%);
 }

 .join-trip{
     width: 800px;
     background-color: rgba(0,0,0,6);
     margin-top: auto;
     color: white;
     padding:10px 0px 10px 0px ;
     text-align: center;
     border-radius: 15px 15px 0px 0px;
     
 }
.form{   
   background-color:rgba(0,0,0,0.5);
   width: 800px;
   margin: auto;
   color: white;
   font-size: 25x;
   position: relative;
     top: 50%;
     left: 30%;
     transform: translate(-50%, -50%);
     border-radius: 15px 15px 0px 0px;
     

}

form{
    padding: 30px;
    padding-bottom: 50px;
}

input{
padding: 5px;
width: 250px;
margin-bottom: 5px;
}

#dropdown{
    padding: 3px;
    margin-bottom: 15px;
}

#button{
    color: #000;
}

#button:hover{
    background-color: #000 ;
    color: #fff;
}

.bottom{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
    padding-top: 30px;
    padding-bottom: 20px;
    
}
#footer-text{
    text-align: center;
    font-size: 20px;
}

.icons{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}



h3 {
	margin: 60px 15px 0;
	padding: 0;
	font-weight: 300;
}
h3 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    opacity: 0;
    
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
    overflow: hidden;
    
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}


/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.button-bottom{
    position: relative;
    left: 40%;
    top: -90px;
}

#button-bottom-gallery{
    position: relative;
    left: 45%;
    top: 20px;
}

.container-1{
    display: flex;
    align-items: flex-start;
    position: relative;
    top: 30%;
    text-decoration: none;
    padding:50px;
    justify-content: space-between;
    
    
}

.container-1 div{
    color: blanchedalmond;
    
}

.box-1{
    flex: 1;
    text-decoration: none;
    color: oldlace;
    width: 15%;

}

.box-2{
    flex: 1;
    text-decoration: none;
    color: oldlace;
    width: 15%;

}

.box-3{
    flex: 1;
    text-decoration: none;
    color: oldlace;
    width: 15%;

}

#summary{
    font-size: 20px;
    color: blanchedalmond;
    text-align: center;
    border:1px solid blanchedalmond;
    padding: 5px;
    margin-left: 130px;
    margin-right: 130px;
    position: relative;
    bottom: -10%;
    text-transform: uppercase;
}

#video{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}