*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none ;
    margin-top: 10px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

 ul li a:hover{
     background-color: #fff ;
     color: #000;
 }

ul li.active a{
    background-color: #fff;
    color: #000;
}

 .logo img{
     float: left;
     width: 150px;
     height: 70px;
     margin-top: 10px;
 }

 .home{
     max-width: 1200px;
     margin: auto;
 }

 .title{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .title h1{
     font-size: 80px;
     color: white;
     text-align: center;
 }

 .middle{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.destination-images {
    background-color: whitesmoke;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h2{
    font-size: 50px;
    color:black;
    text-align: center;
    padding: 5px;
}

.images{
    max-width: 1200px;
    margin: auto; 
    width: 60%;
    padding: 10px;
}

.img-box{
    height:200px;
    width:100% ;
    margin: 8px;
    padding: 5px;
}


.container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  #about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  color:white;
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
}


#about:after,  #about:before {
  content: '';
  width: 150px;
  height: 2px;
  margin: 0 10px;
  padding: 10px;
} 

.button{
    position: absolute;
     top: 80%;
     left: 70%;
     transform: translate(-50%, -50%);
}

.btn{
      border:1px solid white;
      padding: 10px 30px;
      color: white;
      text-decoration: none;
      transition:  0.6s ease;
}

.btn:hover{
    background-color: #fff ;
     color: #000;
 }

 .video {
        position: relative;
         top: 80%;
         left: 20%;
         transform: translate(-50%, -50%);
 }

 .join-trip{
     width: 800px;
     background-color: rgba(0,0,0,6);
     margin-top: auto;
     color: white;
     padding:10px 0px 10px 0px ;
     text-align: center;
     border-radius: 15px 15px 0px 0px;

 }
.form{   
   background-color:rgba(0,0,0,0.5);
   width: 800px;
   margin: auto;
   
}

form{
    padding: 20px;
    padding-bottom: 50px;
}

#labal{
color: white;
font-size: 40px;
}